<div id="footer">
  <div id="links">
    <p>ReconOS – Operating System for Reconfigurable Computing</p>
    <p>Developed at the University of Paderborn – <a href="{{ site.url }}/imprint.html">Imprint</a></p>
  </div>
  <div id="logos">
    <a href="http://www.cs.upb.de" target="_blank"><img src="{{ site.url }}/assets/images/logo_upb.svg" alt="Logo Universität Paderborn" /></a>
    <a href="http://www.epics-project.eu" target="_blank"><img src="{{ site.url }}/assets/images/logo_epics.svg" alt="Logo EPiCS" /></a>
  </div>
</div>
