@charset "utf-8";
/* CSS Document */

body {
	font-family:Roboto, Arial, sans-serif;
	font-size:15px;
	font-weight:300;
	color:#141414;
	text-shadow: 0px 1px 1px #fff;
	
	background-color:#f0f0f0;
	
	margin-top:20px;
	margin-bottom:20px;
}

@media only screen and (max-width:481px) {
body {
	margin-left:0px;
	margin-right:0px;
	padding:0px;
}
}

h1 {
	font-size:20px;
	font-weight:500;
}

h2 {
	font-size:15px;
	font-weight:500;

	margin-bottom:8px;
	margin-top:20px;
}

h3 {
	font-size:15px;
	font-weight:400;
	color:#787878;

	margin-bottom:8px;
	margin-top:20px;
}

h4 {
    font-size:14px;
    font-weight:300;
    font-style:italic;
    color:#787878;
    margin-top:15px;
    margin-bottom:5px;
}

p {
	margin-top:0px;
	margin-bottom:5px;

	text-align:justify;
}

a {
	color:#000;
	text-decoration:none;
	font-style:italic;
}

a:hover {
	color:#823c3c;
}

hr {
	height:1px;
	border:none;
	background-color:#ddd;
	margin-top:25px;
	margin-bottom:25px;
}

blockquote {
	font-family:Roboto Condensed;
	font-weight:300;
	color:#787878;
	text-align:center;
}

cite {
	font-family:Roboto Condensed;
	font-size:12px;
	font-weight:300;
	font-style:italic;
	color:#787878;
	text-align:center;

	display:block;
	margin-top:6px;
}

table {
    border-spacing:0px;

	margin-top:5px;
	margin-bottom:20px;

	max-width:100%;
}

th {
    font-weight:300;
    color:#787878;
    font-size:12px;
    text-align:left;
}

td { 
    padding-right:20px;
	padding-bottom:5px;

	vertical-align:top;
}

ul li {
	margin-top:10px;
}

ul p {
	margin:0px;
}

ul ul {
	margin-top:3px;
}

ul ul li {
	margin-bottom:0px;
	margin-top:0px;
}

#frame {
	width:920px;
	margin:auto;
}

@media only screen and (max-width:481px) {
#frame {
	width:420px;
}
}

#content {
	padding-left:10px;
	padding-right:10px;
}

#header {
	margin-bottom:20px;
	padding-bottom:5px;

	overflow:hidden;
	clear:both;

	border-bottom:1px #ddd solid;
}

#header #logo {
	width:230px;
	float:left;
}

#navi {
	float:right;
	position:relative;
	top: 20px;
}

#navi ul {
	margin:0px;
	padding:0px;
	clear:both;
}

#navi li {
	float: left;
	list-style:none;

	margin-top:0px;
	margin-left: 10px;
}

#navi a {
	font-size:13px;
	font-style:normal;
}

#navi .active a {
	color:#823c3c;
}

#navi ul:first-child a {
	font-size:14px;
	font-weight:500;
}

@media only screen and (max-width:481px) {
#header {
	padding-bottom:15px;
}

#header #logo {
	margin:auto;
	margin-bottom:20px;

	float:none;
}

#navi {
	float:none;

	top:0px;
}

#navi ul:first-child {
	margin-top:0px;
}


#navi ul {
	margin-top:8px;
	text-align:center;
}

#navi li {
	float:none;
	display:inline-block;

	margin-top:0px;
	margin-bottom:2px;
}
}

#footer {
	margin-top:20px;
	padding-top:5px;

	overflow:hidden;
	clear:both;

	border-top:1px #ddd solid;
}

#footer p {
	font-family:"Roboto Condensed";
	font-size:12px;
	color:#C8C8C8;
	text-align:justify;

	margin:0px;
}

#footer a {
	color:#c8c8c8;
}

#footer a:hover {
	color:#823c3c;
}

#footer #links {
	float:left;
}

#footer #logos {
	float:right;
}

#footer #logos img {
	margin-left:10px;
}

@media only screen and (max-width:481px) {
#footer {
	margin-top:10px;
	padding-top:10px;
}

#footer #links {
	float:none;
}

#footer #links p {
	text-align:center;
}

#footer #logos {
	margin-top:20px;

	float:none;

	text-align:center;
}
}

/*
#footer #footer-background {
	position:absolute;
	left:0px;
	width:100%;
	height:40px;
	background-image:url(../images/stripes.png);
}
*/