@charset "utf-8";
/* CSS Document */

table {
	table-layout:fixed;
    border-spacing:0px;

	margin-top:5px;
	margin-bottom:20px;

	max-width:100%;
}

th {
    font-weight:300;
    color:#787878;
    font-size:12px;
    text-align:left;
    padding-right:15px;
}

td { 
	padding-right:15px;
	padding-bottom:2px;
	vertical-align:middle;
}


tr { 
	font-family:Consolas, "Liberation Mono", Courier, monospace; 
	font-size:12px; 
}

li.sound 
{
	font-weight: bold;
}

