body
{
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero-unit {
  padding: 60px;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.card{
  min-height:235px  
}

#component_average_execution{
  height: 250px
}

.card-heading.simple {
  border-bottom: 0px;
}

#sidebar_parent {
  padding: 7px;
  margin: 4px;
  width: 33%;
}

#sidebar.affix-top {
    width: auto;
    position: fixed;
}

#sidebar.affix {
    width: auto;
    position: fixed;
    /*top: 80px;*/
}

#sidebar.affix-bottom {
/*  width: inherit;*/
  position: absolute;
  top: auto;
  bottom: 200px;  /*//height of the footer*/
}