body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#executions .timestamp {
  float: left;
}
#executions .created_at {
  float: right;
}
#executions .content {
  clear: both;
}