<synthesizer>

    <alsa>
        <buffersize>16384</buffersize>
        <chunks>1024</chunks>
        <devicename>plughw:1,0</devicename>
    </alsa>
    
    <core>
        <hwt_support>true</hwt_support>
        <ports>
            <tcp>50050</tcp>
            <udp>50050</udp>
        </ports>
    </core>
    
    <plugins>
        <searchdir>../SoundComponents/result</searchdir>
    </plugins>
    
    <logging>
    	<enabled>true</enabled>
    	<port>1338</port>
    </logging>
    
</synthesizer>