<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated soundgatesComposite -->
      <package
            uri="soundgatesComposite"
            class="soundgatesComposite.SoundgatesCompositePackage"
            genModel="model/soundgatesComposite.genmodel"/>
   </extension>

</plugin>
