# This file is a general .ucf for Basys2 rev C board
# To use it in a project:
# - remove or comment the lines corresponding to unused pins
# - rename the used signals according to the project

# clock pin for Basys2 Board
#NET "uclk" LOC = "J9"; # Bank = 2, Signal name = UCLK

Net lvdsclk_p TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 200000 kHz;

Net lvdsclk_p LOC = J9  |  IOSTANDARD=LVDS_25  |  DIFF_TERM = TRUE;
Net lvdsclk_n LOC = H9  |  IOSTANDARD=LVDS_25  |  DIFF_TERM = TRUE;

Net rst TIG;
Net rst LOC = H10  |  IOSTANDARD=SSTL15  |  PULLUP  |  TIG;

#NET SCK  LOC = "B5"; #| IOSTANDARD = "LVCMOS33";          # JB Pin 4
#NET WS   LOC = "B2"; # | IOSTANDARD = "LVCMOS33";          # JB Pin 1
#NET MCLK LOC = "C5"; 
#NET SD   LOC = "A3";# | IOSTANDARD = "LVCMOS33";          # JB Pin 2

# rosetta buttons (5) 
#NET "btn<3>" LOC = "AM21"; # West
#NET "btn<2>" LOC = "AP22"; # North
#NET "btn<1>" LOC = "AK21"; # East
#NET "btn<0>" LOC = "AK22"; # South
#NET "rst"	 LOC = "AJ21"; # Center
#NET "btn<*>" IOSTANDARD = LVCMOS25;  # CONN_BUT-all 

# rosetta leds (5) 
#NET "Led<0>" LOC = "AM22";   # CONN_BUT_LED0 - center 
#NET "Led<1>" LOC = "AL21";   # CONN_BUT_LED1 - west 
#NET "Led<2>" LOC = "AN23";   # CONN_BUT_LED2 - north 
#NET "Led<3>" LOC = "AN22";   # CONN_BUT_LED3 - east 
#NET "Led<4>" LOC = "AJ22";  # CONN_BUT_LED4 - south 
#NET "Led<*>" IOSTANDARD = LVCMOS25; # CONN_BUT-all 

# Aux I/O 8 bit 2 x 4 connector JB 
#NET "ws"   LOC="AM18"| IOSTANDARD = LVCMOS25;
#NET "sd"   LOC="AH22"| IOSTANDARD = LVCMOS25;
#NET "AUX_JB<3>"   LOC="AG21"; 
#NET "sck"   LOC="AL19" | IOSTANDARD = LVCMOS25;
#NET "AUX_JB<7>"   LOC="AM20"; 
#NET "AUX_JB<8>"   LOC="AG22"; 
#NET "mclk"   LOC="AG20" | IOSTANDARD = LVCMOS25; 
#NET "AUX_JB<10>" LOC="AK19"; 
#NET "AUX_JB<*>" IOSTANDARD = LVCMOS25;


#NET "AUX_JB<1>"   LOC="AM18"; 
#NET "AUX_JB<2>"   LOC="AH22"; 
#NET "AUX_JB<3>"   LOC="AG21"; 
#NET "AUX_JB<4>"   LOC="AL19"; 
#NET "AUX_JB<7>"   LOC="AM20"; 
#NET "AUX_JB<8>"   LOC="AG22"; 
#NET "AUX_JB<9>"   LOC="AG20"; 
#NET "AUX_JB<10>" LOC="AK19"; 
#NET "AUX_JB<*>" IOSTANDARD = LVCMOS25;   

# SPI audio dac left 
NET "AUDIO_DAC_left_MOSI_pin" LOC="AH24"  | IOSTANDARD = LVCMOS25; 
NET "AUDIO_DAC_left_SCK_pin"  LOC="AG25"  | IOSTANDARD = LVCMOS25; 
NET "AUDIO_DAC_left_SS_pin" 	LOC="AG26"  | IOSTANDARD = LVCMOS25; 
# SPI audio dac right
NET "AUDIO_DAC_right_MOSI_pin" LOC="AJ24" | IOSTANDARD = LVCMOS25; 
NET "AUDIO_DAC_right_SCK_pin"  LOC="AK24" | IOSTANDARD = LVCMOS25; 
NET "AUDIO_DAC_right_SS_pin"   LOC="AH23" | IOSTANDARD = LVCMOS25; 
