doctype html
html
  head
    title Soundgates
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300,700')
    link(rel='stylesheet', href='/stylesheets/bootplus.min.css')
    link(rel='stylesheet', href='/stylesheets/bootplus-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/nv.d3.css')
    //- link(rel='stylesheet', href='/stylesheets/c3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='../../assets/ico/favicon.ico')
    body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Soundgates Debugger
          .nav-collapse.collapse
            ul.nav
              li.active
                a(id='home') Home
              li
                a(href='#about') About
              li
                a(href='#contact') Contact
          // /.nav-collapse
    .container-fluid
      .row-fluid
        .span2
          .sidebar_parent
            #sidebar.nav.nav-pills.nav-stacked.affix(data-clampedwidth=".sidebar_parent").shadow
              ul.nav.nav-list(id='nav_executions')
                li.nav-header Executions
              ul.nav.nav-list(id='nav_components')
                li.nav-header Components
              ul.nav.nav-list
                li.nav-header Debugging
                li
                  a(id="refresh_test") Refresh
                li
                  a(id="generate_test") Generate
                li
                  a(id="remove_test") Remove
            // /.well
          // /span
        .span10
          .hero-unit
            .logo
              img.title(src="/assets/logo_150.png")
              h1.title Soundgates Debugger
          .row-fluid
            .span3
              .card
                h2.card-heading Execution Date
                .card-body(id="execution_date")
            .span3
              .card
                h2.card-heading Components
                .card-body(id="component_count")
            .span3
              .card
                h2.card-heading Turnaround
                .card-body(id="turnaround")
            .span3
              .card
                h2.card-heading Implementations
                .card-body(id="component_implementations")
            .span12
              .card
                h2.card-heading Average Execution Time (&micros)
                .card-body(id="component_average_execution")
            #execution
      hr
  footer
    p © Soundgates 2014
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/nv.d3.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/offcanvas.js')